{% extends 'base.html' %}
{% block content %}

  <section class="section1">
  <div class="sec-1">
    <h1 class="heading-1">Designing the Future of Digital</h1>
    <p>Where creativity meets code – we craft stunning, responsive, and high-performance digital experiences that
      set your brand apart.</p>
  </div>
</section>

{% endblock %}
<!-- Designing the Future of Digital
Where creativity meets code – we craft stunning, responsive, and high-performance digital experiences that set your brand apart.

🔹 User-first design
🔹 Scalable, smart tech
🔹 End-to-end digital solutions

Let’s build something amazing together.

[Explore Our Work] [Get in Touch] -->